# Import Data

In [7]:
import os
import tarfile
import pandas as pd

from six.moves import urllib

DATA_PATH = "D:/uwa/Data_Warehousing/project1/"
def load_data(data_path=DATA_PATH): # a function defined for load train data
 csv_path = os.path.join(data_path, "crime.csv")
 return pd.read_csv(csv_path)
df = load_data()
df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\3942097481.py:10: DtypeWarning: Columns (5,10,11,12,13,14,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_path)

,Unnamed: 0,crime,number,date,location,beat,neighborhood,npu,lat,long,type,road,neighbourhood_lookup,city,county,state,postcode,country
0,0,LARCENY-NON VEHICLE,103040029.0,10/31/2010,610 SPRING ST NW,509,Downtown,M,33.77101,-84.38895,house_number,Spring Street Northwest,NaN,Atlanta,Fulton County,Georgia,30308.0,United States
1,1,AUTO THEFT,103040061.0,10/31/2010,850 OAK ST SW,401,West End,T,33.74057,-84.41680,office,Oak Street Southwest,West End,Atlanta,Fulton County,Georgia,30310.0,United States
2,2,LARCENY-FROM VEHICLE,103040169.0,10/31/2010,1344 METROPOLITAN PKWY SW,301,Capitol View Manor,X,33.71803,-84.40774,shop,Metropolitan Parkway Southwest,Capitol View,Atlanta,Fulton County,Georgia,30310.0,United States
3,3,AUTO THEFT,103040174.0,10/31/2010,1752 PRYOR RD SW,307,Betmar LaVilla,Y,33.70731,-84.39674,house_number,Pryor Street,NaN,Atlanta,Fulton County,Georgia,30315.0,United States
4,4,LARCENY-NON VEHICLE,103040301.0,10/31/2010,JOHN WESLEY DOBBS AVE NE / CORLEY ST NE,604,Old Fourth Ward,M,33.75947,-84.36626,house_number,John Wesley Dobbs Avenue Northeast,Inman Park,Atlanta,Fulton County,Georgia,30312.0,United States

# Select only enriched data

In [8]:
df1 = df.iloc[0: 25470]
df1.head()

,Unnamed: 0,crime,number,date,location,beat,neighborhood,npu,lat,long,type,road,neighbourhood_lookup,city,county,state,postcode,country
0,0,LARCENY-NON VEHICLE,103040029.0,10/31/2010,610 SPRING ST NW,509,Downtown,M,33.77101,-84.38895,house_number,Spring Street Northwest,NaN,Atlanta,Fulton County,Georgia,30308.0,United States
1,1,AUTO THEFT,103040061.0,10/31/2010,850 OAK ST SW,401,West End,T,33.74057,-84.41680,office,Oak Street Southwest,West End,Atlanta,Fulton County,Georgia,30310.0,United States
2,2,LARCENY-FROM VEHICLE,103040169.0,10/31/2010,1344 METROPOLITAN PKWY SW,301,Capitol View Manor,X,33.71803,-84.40774,shop,Metropolitan Parkway Southwest,Capitol View,Atlanta,Fulton County,Georgia,30310.0,United States
3,3,AUTO THEFT,103040174.0,10/31/2010,1752 PRYOR RD SW,307,Betmar LaVilla,Y,33.70731,-84.39674,house_number,Pryor Street,NaN,Atlanta,Fulton County,Georgia,30315.0,United States
4,4,LARCENY-NON VEHICLE,103040301.0,10/31/2010,JOHN WESLEY DOBBS AVE NE / CORLEY ST NE,604,Old Fourth Ward,M,33.75947,-84.36626,house_number,John Wesley Dobbs Avenue Northeast,Inman Park,Atlanta,Fulton County,Georgia,30312.0,United States

In [9]:
# Drop NAN/NULL values
df_clean = df1.dropna()

In [10]:
df_clean['number'] = df_clean['number'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\3882009161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['number'] = df_clean['number'].astype(int)

In [11]:
df_clean['postcode'] = df_clean['postcode'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\302959489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['postcode'] = df_clean['postcode'].astype(int)

In [13]:
# Install package to collect geodata
pip install geopandas

SyntaxError: invalid syntax (1906905400.py, line 2)

In [14]:
import requests
import geopandas as gpd
df_beat = gpd.read_file('https://services3.arcgis.com/Et5Qfajgiyosiw4d/arcgis/rest/services/2019_Beat_Alignment/FeatureServer/0/query?where=1=1&outFields=*&f=geojson')

In [15]:
df_zone = gpd.read_file('https://services3.arcgis.com/Et5Qfajgiyosiw4d/arcgis/rest/services/2019_Zone_Alignment/FeatureServer/0/query?where=1=1&outFields=*&f=geojson')

In [16]:
merged_gdf = gpd.sjoin(df_beat, df_zone, op='within')

C:\cits5508-2023\lib\site-packages\IPython\core\interactiveshell.py:3400: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [17]:
df_beatwithzone = df_clean.rename(columns={'beat': 'BEAT'}) 
df_beatwithzone['BEAT'] = df_beatwithzone['BEAT'].astype('int64')

In [18]:
merged_df = pd.merge(df_beatwithzone,merged_gdf, on='BEAT',how='left')

In [19]:
merged_df = merged_df.dropna()

In [20]:
df_final = merged_df [['crime','number', 'date','location', 'BEAT','neighborhood','npu','lat','long','type','road','neighbourhood_lookup','county','postcode','ZONE']]

In [21]:
# create dictionary to store IDs for each crime type
id_dict = {}

# iterate through rows of dataframe
for i, row in df_final.iterrows():
    crime = row['crime']
    if crime not in id_dict:
        id_dict[crime] = len(id_dict) + 1
    df_final.at[i, 'crimeid'] = id_dict[crime]

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\930250020.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.at[i, 'crimeid'] = id_dict[crime]

In [22]:
# create dictionary to store IDs for each date
id_dict = {}

# iterate through rows of dataframe
for i, row in df_final.iterrows():
    date = row['date']
    if date not in id_dict:
        id_dict[date] = len(id_dict) + 1
    df_final.at[i, 'dateid'] = id_dict[date]

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\64126788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.at[i, 'dateid'] = id_dict[date]

In [23]:
# create dictionary to store IDs for each neighbourhood
id_dict = {}

# iterate through rows of dataframe
for i, row in df_final.iterrows():
    neighborhood = row['neighborhood']
    if neighborhood not in id_dict:
        id_dict[neighborhood] = len(id_dict) + 1
    df_final.at[i, 'neighborhoodid'] = id_dict[neighborhood]

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\2221499211.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.at[i, 'neighborhoodid'] = id_dict[neighborhood]

In [24]:
# create dictionary to store IDs for each NPU
id_dict = {}

# iterate through rows of dataframe
for i, row in df_final.iterrows():
    npu = row['npu']
    if npu not in id_dict:
        id_dict[npu] = len(id_dict) + 1
    df_final.at[i, 'npuid'] = id_dict[npu]

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1859485458.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.at[i, 'npuid'] = id_dict[npu]

In [25]:
# create dictionary to store IDs for each neighbourhood_lookup
id_dict = {}

# iterate through rows of dataframe
for i, row in df_final.iterrows():
    neighbourhood_lookup = row['neighbourhood_lookup']
    if neighbourhood_lookup not in id_dict:
        id_dict[neighbourhood_lookup] = len(id_dict) + 1
    df_final.at[i, 'neighbourhood_lookupid'] = id_dict[neighbourhood_lookup]

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1150612006.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.at[i, 'neighbourhood_lookupid'] = id_dict[neighbourhood_lookup]

In [26]:
# create dictionary to store IDs for each location
id_dict = {}

# iterate through rows of dataframe
for i, row in df_final.iterrows():
    lat = row['lat']
    long = row['long']
    loc = f"{lat} {long}"
    if loc not in id_dict:
        id_dict[loc] = len(id_dict) + 1
    df_final.at[i, 'locationid'] = id_dict[loc]

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\3376729655.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.at[i, 'locationid'] = id_dict[loc]

In [27]:
# create dictionary to store IDs for each Beat
id_dict = {}

# iterate through rows of dataframe
for i, row in df_final.iterrows():
    BEAT = row['BEAT']
    if BEAT not in id_dict:
        id_dict[BEAT] = len(id_dict) + 1
    df_final.at[i, 'BEATid'] = id_dict[BEAT]

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\2262791014.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.at[i, 'BEATid'] = id_dict[BEAT]

In [28]:
# create dictionary to store IDs for each Zone
id_dict = {}

# iterate through rows of dataframe
for i, row in df_final.iterrows():
    BEAT = row['ZONE']
    if BEAT not in id_dict:
        id_dict[BEAT] = len(id_dict) + 1
    df_final.at[i, 'ZONEid'] = id_dict[BEAT]

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1294142628.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.at[i, 'ZONEid'] = id_dict[BEAT]

### Change datatype

In [29]:
df_final['ZONE'] = df_final['ZONE'].astype(int)
df_final['crimeid'] = df_final['crimeid'].astype(int)
df_final['dateid'] = df_final['dateid'].astype(int)
df_final['neighborhoodid'] = df_final['neighborhoodid'].astype(int)
df_final['npuid'] = df_final['npuid'].astype(int)
df_final['neighbourhood_lookupid'] = df_final['neighbourhood_lookupid'].astype(int)
df_final['locationid'] = df_final['locationid'].astype(int)
df_final['BEATid'] = df_final['BEATid'].astype(int)
df_final['ZONEid'] = df_final['ZONEid'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1784980855.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['ZONE'] = df_final['ZONE'].astype(int)
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1784980855.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['crimeid'] = df_final['crimeid'].astype(int)
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1784980855.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['dateid'] = df_final['dateid'].astype(int)
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1784980855.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['neighborhoodid'] = df_final['neighborhoodid'].astype(int)
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1784980855.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['npuid'] = df_final['npuid'].astype(int)
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1784980855.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['neighbourhood_lookupid'] = df_final['neighbourhood_lookupid'].astype(int)
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1784980855.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['locationid'] = df_final['locationid'].astype(int)
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1784980855.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['BEATid'] = df_final['BEATid'].astype(int)
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\1784980855.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['ZONEid'] = df_final['ZONEid'].astype(int)

In [30]:
# Split date as Day,Month,Quarter,Year
df_final['date'] = pd.to_datetime(df_final['date'])

# Create new columns for day, month, quarter, and year
df_final['day'] = df_final['date'].dt.day
df_final['month'] = df_final['date'].dt.month
df_final['quarter'] = df_final['date'].dt.quarter
df_final['year'] = df_final['date'].dt.strftime('%Y')
df_final=df_final.drop('date',axis=1)

C:\Users\HP\AppData\Local\Temp\ipykernel_26040\230475871.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['date'] = pd.to_datetime(df_final['date'])
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\230475871.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['day'] = df_final['date'].dt.day
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\230475871.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['month'] = df_final['date'].dt.month
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\230475871.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['quarter'] = df_final['date'].dt.quarter
C:\Users\HP\AppData\Local\Temp\ipykernel_26040\230475871.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['year'] = df_final['date'].dt.strftime('%Y')

## Split dataset for each dimension table

In [31]:
counts = df_final.groupby(['number', 'crimeid']).size().reset_index(name='count_crime_type')

In [32]:
df_withcrime_count = pd.merge(df_final, counts, on='number')
df_withcrime_count = df_withcrime_count.drop('crimeid_y', axis=1)

In [33]:
df_withcrime_count.to_csv('D:/uwa/Data_Warehousing/project1/crime_ETL_withcrime_count.csv', index=False)

In [34]:
df_withcrime_count.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14634 entries, 0 to 14633
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   crime                   14634 non-null  object
 1   number                  14634 non-null  int32
 2   location                14634 non-null  object
 3   BEAT                    14634 non-null  int64
 4   neighborhood            14634 non-null  object
 5   npu                     14634 non-null  object
 6   lat                     14634 non-null  float64
 7   long                    14634 non-null  float64
 8   type                    14634 non-null  object
 9   road                    14634 non-null  object
 10  neighbourhood_lookup    14634 non-null  object
 11  county                  14634 non-null  object
 12  postcode                14634 non-null  int32
 13  ZONE                    14634 non-null  int32
 14  crimeid_x               14634 non-null  int32
 15  dateid                  14634 non-null  int32
 16  neighborhoodid          14634 non-null  int32
 17  npuid                   14634 non-null  int32
 18  neighbourhood_lookupid  14634 non-null  int32
 19  locationid              14634 non-null  int32
 20  BEATid                  14634 non-null  int32
 21  ZONEid                  14634 non-null  int32
 22  day                     14634 non-null  int64
 23  month                   14634 non-null  int64
 24  quarter                 14634 non-null  int64
 25  year                    14634 non-null  object
 26  count_crime_type        14634 non-null  int64
dtypes: float64(2), int32(11), int64(5), object(9)
memory usage: 2.5+ MB

In [35]:
df_loc = df_withcrime_count [['locationid','location', 'neighborhoodid','npuid','lat','long','road','neighbourhood_lookupid','postcode','county']]
df_loc = df_loc.drop_duplicates(subset='locationid')

In [36]:
df_loc.to_csv('D:/uwa/Data_Warehousing/project1/crime_dimlocation.csv', index=False)

In [37]:
df_neighborhood = df_withcrime_count [[ 'neighborhoodid','neighborhood']]
df_neighborhood = df_neighborhood.drop_duplicates(subset='neighborhoodid')

In [38]:
df_neighborhood.to_csv('D:/uwa/Data_Warehousing/project1/crime_dimneighborhood.csv', index=False)

In [39]:
df_neighborhood_lookup = df_withcrime_count [[ 'neighbourhood_lookupid','neighbourhood_lookup']]
df_neighborhood_lookup = df_neighborhood_lookup.drop_duplicates(subset='neighbourhood_lookupid')

In [40]:
df_neighborhood_lookup.to_csv('D:/uwa/Data_Warehousing/project1/crime_dimneighborhoodlookup.csv', index=False)

In [41]:
df_npu = df_withcrime_count [[ 'npuid','npu']]
df_npu = df_npu.drop_duplicates(subset='npuid')

In [42]:
df_npu.to_csv('D:/uwa/Data_Warehousing/project1/crime_dimnpu.csv', index=False)

In [43]:
df_BEAT = df_withcrime_count [[ 'BEATid','BEAT']]
df_BEAT = df_BEAT.drop_duplicates(subset='BEATid')

In [44]:
df_BEAT.to_csv('D:/uwa/Data_Warehousing/project1/crime_dimbeat.csv', index=False)

In [45]:
df_ZONE = df_withcrime_count [[ 'ZONEid','ZONE']]
df_ZONE = df_ZONE.drop_duplicates(subset='ZONEid')

In [46]:
df_ZONE.to_csv('D:/uwa/Data_Warehousing/project1/crime_dimzone.csv', index=False)

In [47]:
df_crime = df_withcrime_count [[ 'crimeid_x','crime']]
df_crime = df_crime.drop_duplicates(subset='crimeid_x')

In [48]:
df_crime.to_csv('D:/uwa/Data_Warehousing/project1/crime_dimcrime.csv', index=False)

In [49]:
df_date = df_withcrime_count [[ 'dateid','day','month','quarter','year']]
df_date = df_date.drop_duplicates(subset='dateid')

In [50]:
df_date.to_csv('D:/uwa/Data_Warehousing/project1/crime_dimdate.csv', index=False)

In [51]:
df_factcrime = df_withcrime_count [[ 'number','locationid','BEATid','ZONEid','dateid','crimeid_x','count_crime_type']]

,number,locationid,BEATid,ZONEid,dateid,crimeid_x,count_crime_type
0,103040061,1,1,1,1,1,1
1,103040169,2,2,2,1,2,1
2,103040301,3,3,3,1,3,1
3,103040345,4,4,1,1,4,1
4,103040385,5,4,1,1,3,1
...,...,...,...,...,...,...,...
14629,100051255,6028,55,2,275,7,1
14630,100051323,995,12,3,275,3,1
14631,100051329,804,28,5,275,2,1
14632,100051468,8228,10,2,275,7,1
14633,100051544,2650,54,3,275,8,1

In [52]:
df_factcrime.to_csv('D:/uwa/Data_Warehousing/project1/crime_factcrime.csv', index=False)